
.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.form-input{
display: flex;
width: auto;
flex-direction: column;

}

.login-card{
    border: 2px solid rgb(101, 53, 53);
    display: flex;
    width: 700px;
    flex-direction: column;
    justify-content: center;
   
}
.username-input{
    border:2px solid white;
    border-radius: 12px;
    width: auto;
}
.password-input{
    border:2px solid white;
    border-radius: 12px;
    width:auto;
}
@media screen and (max-width:555px){
    .login-card{
        width: auto;
    }
    .form-input{
        width:auto ;
    }
}