
.image-container{
display: flex;
justify-content: center;
/* align-items: start; */
}
.cardImg{
    width: 200px;
    height: 230px;
    object-fit: contain;
    display: flex;
  text-align: center;
}
.card{
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  /* width: 200px; */
}
.card-body{
  /* border: 2px solid red; */
  
}

